[data-theme='dark'] {
    --text-color: 255, 254, 251;
    --text-color-contrast: 255, 254, 251;
    --text-color-disabled: 162, 163, 171;
    --primary-color: 0, 102, 140;
    --primary-color-contrast: 113, 196, 239;
    --bg-color: 15, 28, 46;
    --bg-color-contrast: 255, 254, 251;
    --element-bg-color: 245, 244, 241;
    --element-bg-color-contrast: 31, 43, 62;
}