[data-theme='light'] {
    --text-color: 29, 28, 28;
    --text-color-contrast: 255, 254, 251;
    --text-color-disabled: 204, 203, 200;
    --primary-color: 113, 196, 239;
    --primary-color-contrast: 0, 102, 140;
    --bg-color: 255, 254, 251;
    --element-bg-color: 31, 43, 62;
    --element-bg-color-contrast: 245, 244, 241;
}