.card {
    padding: 1.5rem;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 5px rgba(var(--bg-color-contrast),0.2);
    border: .5px solid rgba(var(--bg-color-contrast), 0.2);
}