.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.notification {
    width: 100%;
    text-align: center;
}

.error {
    color: rgb(var(--red-color));
}